:root {
    --bg: #141414;
    --txtC: #ddd;
    background: var(--bg);
    /* overflow: hidden; */
    height: min-content;
    scrollbar-color: #444 #141414;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    background-color: transparent;
    color: var(--txtC);
    /* cursor: none; */
    outline: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.section::-webkit-scrollbar {
    width: 16px;
}

.section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
}

.section::-webkit-scrollbar {
    width: 16px;
}

.section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
}
.inline {
    display: inline;
}

body {
    /* overflow-y: hidden; */
    scrollbar-gutter: stable both-edges;
    /* font-family: Arial, sans-serif; */
    /* font-family: "Ropa Sans", sans-serif; */
    /* font-family: courier-new, courier, monospace; */
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-family: "DotGothic16", "ＭＳ Ｐ明朝";
    margin: 0 auto;
    position: relative;
    margin: 0px;
    font-size: 20px;
    text-align: center;
    height: min-content;
}

.curseItem {
    border: 1px solid #ddd;
    padding: 10px;
    padding-top: 0px;
    border-radius: 5px;
    /* margin: 3px; */
    margin: 10px 0px;
    /* overflow: hidden; */
    position: relative;
    .cTitleArea {
        position: sticky;
        top: 0px;
        background-color: #141414;
    }
    .cTitle {
        border-bottom: 1px solid #aaa;
        padding: 3px;
        padding-top: 0px;
        font-size: 25px;
        margin: 0;
    }
    .cHide {
        position: absolute;
        top: 8px;
        right: 11;
        background-color: #141414;
        width: 80px;
        height: 25px;
        display: flex;
        justify-content: center;

        align-items: center;
        border: 1px solid #ddd;
        border-radius: 3px;
        span {
            pointer-events: none;
        }
        .cHideMsgShow {
            display: none;
        }
    }
    .content {
        font-size: 13px;
    }
    &.hide {
        height: 42px;
        .cTitle {
            /* text-decoration: line-through; */
            /* color: #888; */
            border: 0;
        }
        .cHideMsgShow {
            display: inline;
        }
        .cHideMsgHide {
            display: none;
        }
        .content {
            display: none;
        }
    }
}
